<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">News:</h1>

      <div class="col-md-2">
          <ul class="sidebar-nav">
              <li class="sidebar-brand">
                  <a href="#" ng-click="$ctrl.changeFilter('')">
                      All Categories
                  </a>
              </li>
              <li ng-repeat="category in $ctrl.categories">
                  <a href="#" ng-click="$ctrl.changeFilter(category)">{{category}}</a>
              </li>
          </ul>
      </div>

      <div class="col-md-10">
        <div class="blog-post col-sm-8 col-md-6" ng-repeat="post in $ctrl.posts | filter:{category:$ctrl.categoriesFilter}">
          <div class="thumbnail">
            <img ng-src="{{post.teaser.img}}" alt="{{post.title}}">
            <div class="caption">
              <h3>{{post.title}}</h3>
              <p>{{post.teaser.description}}</p>
              <p><a href="blog/{{post._id}}" class="btn btn-primary" role="button">Read more</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
